:root {
    --color-primary-DEFAULT: #ff8906;
    --p-primary-DEFAULT: #ff8906;
    --p-primary-50: #fff3e5;
    --p-primary-100: #ffe1c2;
    --p-primary-200: #ffc894;
    --p-primary-300: #ffaf66;
    --p-primary-400: #ff9b3d;
    --p-primary-500: #ff8906;
    --p-primary-600: #cc6e05;
    --p-primary-700: #995204;
    --p-primary-800: #663702;
    --p-primary-900: #331c01;
    --p-primary-950: #1a0e01;
    --p-surface-0: #fffffe;
    --p-surface-50: #f2f2f3;
    --p-surface-100: #e6e5e7;
    --p-surface-200: #c2c1c5;
    --p-surface-300: #9e9ca2;
    --p-surface-400: #7a7880;
    --p-surface-500: #56545d;
    --p-surface-600: #403e47;
    --p-surface-700: #2a2931;
    --p-surface-800: #0f0e17;  /* Base color */
    --p-surface-900: #0a090f;
    --p-surface-950: #050508;
    --p-content-border-radius: 6px;
}

/* Light */
:root {
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-600);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
}

/* Dark */
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-400);
        --p-primary-contrast-color: var(--p-surface-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-surface-700);
        --p-content-hover-background: var(--p-surface-800);
        --p-content-hover-color: var(--p-surface-0);
        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-surface-0);
        --p-text-hover-color: var(--p-surface-0);
        --p-text-muted-color: var(--p-surface-400);
        --p-text-hover-muted-color: var(--p-surface-300);
    }
}